<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TS API</title>
</head>
<body>
    <style>

       @import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');

        * {
            font-family: 'Baloo Tamma 2', cursive;
        }
        
        li {
            list-style-type: none;
        }

        .content {
            max-width: 25%;
            margin: auto;
        }

        h1 {
            text-align: center;
        }
        
    </style>

<% if (erro) { %>
    <p style="color: red;"><%= erro %></p>
<% } else { %>
    <h1> ❥ <%= albumPesquisado %> </h1>
    <div class="content">
        <% if (musicas.length > 0) { %>
            <ul>
                <% musicas.forEach(musica => { %>
                    <li><strong>♪ <%= musica.title %></strong></li>
                <% }); %>
            </ul>
        <% } else { %> 
            <p>Nenhuma música encontrada para esse álbum. :[</p>
        <% } %>
    </div>
<% } %>
</body>
</html>